# Access Transformers
# Add fields/methods to make accessible here.
# Format: package.ClassName fieldName-or-methodDesc
# Example: net.minecraft.server.management.ServerConfigurationManager field_72404_b
